<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/styles.css">
    <title>Guestbook</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/icon.png">
</head>
<body>
    <h1>Contact Form</h1>

    <form action="/submit-form" method="post">
        <!-- Contact form -->
        <fieldset class="row">
            <label>First Name
                <input type="text" name="fname">
            </label>

            <label>Last Name
                <input type="text" name="lname">
            </label>

            <label>Job Title
                <input type="text" name="title">
            </label>
        </fieldset>

        <fieldset class="row">
            <label>Company
                <input type="text" name="company">
            </label>

            <label>Linkedin URL
                <input type="url" name="linkedin">
            </label>

            <label>Email Address
                <input type="email" name="email">
            </label>
        </fieldset>

        <fieldset>
            <label>Message
                <textarea name="message"></textarea>
            </label>
        </fieldset>

        <!-- Meetup or job fair -->
        <fieldset class="row">
            <legend>How did we meet?</legend>
            <select name="how_we_met">
                <option value="none">Please select</option>
                <option value="meetup">Meet Up</option>
                <option value="job-fair">Job Fair</option>
            </select>

            <label>Other (Please specify)
                <input type="text" name="other">
            </label>
        </fieldset>

        <!-- Mailing List -->
        <fieldset class="checkbox-row">
            <label>
                <input type="checkbox" name="add_me" value="email"> Please add me to your mailing list
            </label>
        </fieldset>

        <!-- Email Format -->
        <fieldset >
            <legend>Choose an email format:</legend>
            <label class="radio">
                <input type="radio" name="format" value="HTML"> HTML
            </label>

            <label class="radio">
                <input type="radio" name="format" value="text"> Text
            </label>
        </fieldset>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
