<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comfirmation</title>
</head>
<body>
    <h1>Thank You: <%= contact.fname %></h1>
    <li>Last Name: <%= contact.lname %></li>
    <li>Email: <%= contact.email %></li>
    <li>TimeStamp: <%= contact.timestamp %></li>

<a href="/">Go back to the form</a>
<a href="/admin">View all contacts</a>
</body>
</html>
